<mat-grid-list cols="3" rowHeight="100vh" class="login-grid">
  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>
    <div class="login-card">
      <h2>Bienvenido</h2>
      <div class="buttons-container">
        <button mat-raised-button color="primary" (click)="login()">
          Ingresar
        </button>

        <button mat-raised-button color="warn" (click)="ingresarSinLogin()">
          Ingresar Sin Login
        </button>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
