<p>error-page works!</p>

<ul>

    <li>
        <a routerLink="/auth/login">
            Ir a login
        </a>
    </li>

    <li>
        <a routerLink="/auth/registro">
            Ir a registro
        </a>
    </li>

    <li>
        <a routerLink="/heroes/listado">
            Ir a listado de héroes
        </a>
    </li>

    <li>
        <a routerLink="/heroes/agregar">
            Ir a agregar héroe
        </a>
    </li>

    <li>
        <a routerLink="/heroes/editar/1">
            Ir a editar héroe con ID 1
        </a>
    </li>

    <li>
        <a routerLink="/heroes/buscar">
            Ir a buscar héroe
        </a>
    </li>

    <li>
        <a routerLink="/heroes/1">
            Ir a detalle de héroe con ID 1
        </a>
    </li>

</ul>